.container {
  width: 100vw;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > .content {
  flex: 0.6;
  display: flex;
  background-color: aqua;
  align-items: flex-end;
  justify-content: center;
}
.container > .content .main {
  flex: 0.9;
}

.container > .content .main .actor {
  width: 5em;
  height: 15em;
  background-color: brown;
}
.container > .heaven {
  flex: 0.1;
  background-color: blue;
}
.container > .earth {
  flex: 0.3;
  background-color: rgb(255, 153, 0);
}
